/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */
::selection {
  background: hsl(45, 100%, 72%);
  color: hsl(0, 0%, 7%);
}

* {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #dadada;
}

html, body {
  position: relative;
  background-color: hsl(0, 0%, 7%);
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 20px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 7%);
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border: 5px solid hsl(0, 0%, 7%);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11), inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: visible;
  margin: 0 auto;
  scroll-behavior: smooth;
  max-width: 1260px;
}

.container {
  margin: 0 auto;
  padding: 18px 18px;
}

.wrapper-inner {
  padding: 24px 0;
  display: flex;
  max-width: 1260px;
  position: relative;
}

/* ============================== ASIDE ============================== */
/* ============================== ASIDE ============================== */
.MyData {
  display: flex;
  transition: all 0.3s ease-in;
}

.MyData-inner {
  position: sticky;
  top: 42px;
  box-shadow: 0 0px 16px 18px hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(240, 2%, 12%);
  padding: 48px 16px;
  border-radius: 32px;
  border: hsl(0, 0%, 22%) solid 1px;
  width: clamp(260px, 29vw, 320px);
}

.MyData__avatar {
  border-radius: 32px;
  background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-bottom: 24px;
}

.MyDatat__avatar-img {
  width: clamp(124px, 14vw, 164px);
}

.MyDatat__avatar-img--change {
  animation: glitch 0.2s infinite;
}

@keyframes glitch {
  0% {
    clip-path: inset(9% 0 71% 0);
  }
  4% {
    clip-path: inset(2% 0 33% 0);
  }
  8% {
    clip-path: inset(75% 0 19% 0);
  }
  12% {
    clip-path: inset(97% 0 3% 0);
  }
  16% {
    clip-path: inset(22% 0 59% 0);
  }
  20% {
    clip-path: inset(74% 0 8% 0);
  }
  24% {
    clip-path: inset(65% 0 11% 0);
  }
  28% {
    clip-path: inset(6% 0 54% 0);
  }
  32% {
    clip-path: inset(2% 0 6% 0);
  }
  36% {
    clip-path: inset(10% 0 57% 0);
  }
  40% {
    clip-path: inset(21% 0 46% 0);
  }
  44% {
    clip-path: inset(30% 0 9% 0);
  }
  48% {
    clip-path: inset(25% 0 35% 0);
  }
  52% {
    clip-path: inset(25% 0 35% 0);
  }
  56% {
    clip-path: inset(14% 0 45% 0);
  }
  60% {
    clip-path: inset(38% 0 15% 0);
  }
  64% {
    clip-path: inset(5% 0 64% 0);
  }
  68% {
    clip-path: inset(86% 0 9% 0);
  }
  72% {
    clip-path: inset(17% 0 30% 0);
  }
  76% {
    clip-path: inset(99% 0 2% 0);
  }
  80% {
    clip-path: inset(20% 0 15% 0);
  }
  84% {
    clip-path: inset(70% 0 30% 0);
  }
  88% {
    clip-path: inset(36% 0 43% 0);
  }
  92% {
    clip-path: inset(61% 0 33% 0);
  }
  96% {
    clip-path: inset(50% 0 17% 0);
  }
  100% {
    clip-path: inset(19% 0 47% 0);
  }
}
.MyData__name {
  margin-bottom: 16px;
}
.MyData__name h1 {
  font-size: clamp(30px, 3.3vw, 36px);
  font-weight: 500;
}

.MyData__profession {
  padding: 5px 20px;
  border-radius: 6px;
  background-color: hsl(240, 1%, 17%);
}
.MyData__profession p {
  font-size: clamp(14px, 1.55vw, 16px);
}

.MyData__line {
  width: 90%;
  height: 1px;
  background-color: hsl(0, 0%, 22%);
  margin: 32px 0;
}

.MyData__important-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
}

.MyData__important-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.important__icon {
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0px 0px 10px 12px hsla(0, 0%, 0%, 0.125);
}
.important__icon img {
  width: 24px;
  height: 24px;
}

.important__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.important__text h6 {
  font-weight: 400;
  color: gray;
}
.important__text p {
  font-weight: 500;
  font-size: clamp(14px, 1.6vw, 16px);
}
.important__text a {
  width: clamp(120px, 14vw, 140px);
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 16px);
}
.important__text span {
  font-weight: 500;
}

.MyData__cosial-list {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}

.MyData__cosial-link img {
  width: 32px;
}

.move-button {
  display: none;
  margin-top: 20px;
}

.move-button-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.move-button__img {
  cursor: pointer;
  background: hsl(240, 2%, 12%);
  border-radius: 100%;
  padding: 25px;
}

.move-button__text p {
  font-weight: 600;
}

/* ============================== MAIN ============================== */
/* ============================== MAIN ============================== */
#content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#content.fade-out {
  opacity: 0;
}

.main {
  display: flex;
  transition: all 0.3s ease-in;
}

.main-inner {
  background-color: hsl(240, 2%, 12%);
  border-radius: 32px;
  border: hsl(0, 0%, 22%) solid 1px;
  box-shadow: 0 0px 16px 18px hsla(0, 0%, 0%, 0.25);
  padding: 32px 24px;
  position: relative;
  width: clamp(500px, 68.5vw, 868px);
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #272727;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 0 32px 0 32px;
  box-shadow: -10px 18px 18px 0px rgba(0, 0, 0, 0.32);
}

.navbar-list {
  display: flex;
  gap: clamp(28px, 1.65vw, 32px);
}

.navbar-link--active {
  color: hsl(45, 100%, 72%);
  transition: all 0.3s;
}

.navbar-link {
  font-size: clamp(14px, 1.65vw, 20px);
}
.navbar-link:hover {
  color: hsl(45, 100%, 72%);
  transition: all 0.3s;
}

.header-name {
  font-size: clamp(26px, 3vw, 36px);
  font-weight: 600;
}

.line {
  margin: 20px 0;
  border-radius: 12px;
  width: 48px;
  height: 6px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
}

.exit-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #272727;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 0 32px 0 32px;
  box-shadow: -10px 18px 18px 0px rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.exit-button-inner {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.exit-button__text p {
  font-weight: 600;
}

.navbar-phone {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  border: hsl(0, 0%, 22%) solid 1px;
  transition: all 0.3s ease-in;
}

/* ============================== ABOUT ============================== */
/* ============================== ABOUT ============================== */
.about-text {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 300;
  line-height: 1.6;
}

.about__doing-head {
  margin: 24px 0 20px 0;
  font-size: clamp(26px, 3vw, 28px);
  font-weight: 800;
}

.about__doing-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 25px;
}

.about__doing-item {
  position: relative;
  z-index: 1;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  border-radius: 14px;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
}
.about__doing-item ::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 14px;
  z-index: -1;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
}

.about__doing-img img {
  width: clamp(40px, 3.9vw, 50px);
}

.about__doing-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.about__doing-link h4 {
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 600;
}
.about__doing-link p {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
  line-height: 1.4;
}

.about__testimonials {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__testimonials-head h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 600;
}

.about__testimonials-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  margin: 0 -24px;
  padding: 30px;
}

.about__testimonials-item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 25px 30px 30px 30px;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  border-radius: 14px;
  z-index: 1;
  cursor: pointer;
  min-width: calc(50% - 15px);
  position: relative;
}
.about__testimonials-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  z-index: -1;
  border-radius: 14px;
}

.about__testimonials-head {
  display: flex;
  gap: 20px;
}
.about__testimonials-head h4 {
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 600;
  margin-bottom: 14px;
}

.about__testimonials-imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  width: 80px;
  height: 80px;
}
.about__testimonials-imgbox img {
  width: 80px;
  height: 80px;
}

.about__testimonials-body span {
  display: none;
}
.about__testimonials-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  line-height: 1.3;
  font-weight: 300;
}

.scroll-bar {
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scroll-bar::-webkit-scrollbar-track {
  background: hsl(240, 1%, 17%);
  border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: hsl(45, 100%, 72%);
  border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-button {
  width: 80px;
}

.about__modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 10;
  visibility: hidden;
  transition: all 0.2s;
}

.about__modal--active {
  pointer-events: all;
  visibility: visible;
  transition: all 0.3s;
}

.about__overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.about__overlay--active {
  opacity: 0.8;
  visibility: visible;
  transition: all 0.2s;
}

.about__modal-inner {
  position: relative;
  transform: scale(1);
  opacity: 1;
  max-width: 680px;
  border-radius: 20px;
  padding: 30px;
  background: hsl(240, 2%, 12%);
  border: 1px solid hsl(0, 0%, 22%);
}

.about__modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: hsl(240, 1%, 17%);
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.about__modal-close img {
  width: 20px;
  height: 20px;
}

.about__modal-head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.modal__head-avatar {
  background: linear-gradient(to bottom right, hsl(240, 1%, 25%) 3%, hsl(0, 0%, 19%) 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
.modal__head-avatar img {
  width: 80px;
  height: 80px;
}

.modal__head-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal__head-text h2 {
  font-size: 26px;
  font-weight: 800;
}
.modal__head-text span {
  font-weight: 300;
  color: hsla(0, 0%, 84%, 0.7);
}

.about__modal-body {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__body-quotes {
  padding: 0 22px;
}
.modal__body-quotes img {
  width: 35px;
}

.modal__body-text p {
  color: hsl(0, 0%, 84%);
  font-weight: 300;
  line-height: 1.6;
}

.about__clients {
  margin-top: 35px;
}

.about__clients-head h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 800;
}

.about__clients-list {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  margin: 0 -24px;
}

.about__clients-link img {
  filter: grayscale(1);
  transition: all 0.25s ease;
}
.about__clients-link img:hover {
  filter: grayscale(0);
}

/* ============================== RESUME ============================== */
/* ============================== RESUME ============================== */
.resume__education {
  margin: 30px 0;
}

.resume__education-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.education__head-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  position: relative;
  padding: 16px;
}
.education__head-img::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  z-index: -1;
  border-radius: 12px;
}
.education__head-img::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 38px;
  background: hsl(240, 1%, 17%);
  z-index: 0;
}
.education__head-img img {
  width: 24px;
  height: 24px;
}

.education__head-text h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 800;
}

.resume__education-item {
  margin-left: 70px;
}

.resume__education-link {
  display: flex;
  flex-direction: column;
  position: relative;
}
.resume__education-link::after {
  content: "";
  position: absolute;
  top: 8%;
  transform: translateY(-50%);
  left: -46px;
  width: 8px;
  height: 8px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
  box-shadow: 0 0 2px 5px hsl(240, 1%, 17%);
  border-radius: 50%;
}
.resume__education-link h4 {
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 600;
  margin-bottom: 9px;
}
.resume__education-link span {
  color: hsl(45, 100%, 72%);
  line-height: 1.6;
}
.resume__education-link p {
  font-size: clamp(14px, 1.65vw, 20px);
  line-height: 1.6;
  font-weight: 300;
}

.resume__experience {
  margin-bottom: 30px;
}

.resume__experience-head {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.experience__head-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  position: relative;
  padding: 16px;
}
.experience__head-img::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  z-index: -1;
  border-radius: 12px;
}
.experience__head-img::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 38px;
  background: hsl(240, 1%, 17%);
  z-index: 0;
}
.experience__head-img img {
  width: 24px;
  height: 24px;
}

.experience__head-text h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 800;
}

.resume__experience-item {
  margin-left: 70px;
}

.resume__experience-link {
  display: flex;
  flex-direction: column;
  position: relative;
}
.resume__experience-link::after {
  content: "";
  position: absolute;
  top: 7%;
  transform: translateY(-50%);
  left: -46px;
  width: 8px;
  height: 8px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
  box-shadow: 0 0 2px 5px hsl(240, 1%, 17%);
  border-radius: 50%;
}
.resume__experience-link h4 {
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 600;
  margin-bottom: 9px;
}
.resume__experience-link span {
  color: hsl(45, 100%, 72%);
  line-height: 1.6;
}
.resume__experience-link p {
  line-height: 1.6;
  font-weight: 300;
}

.resume__skills-head {
  margin-bottom: 30px;
}
.resume__skills-head h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 800;
}

.resume__skills-list {
  padding: 25px 30px 30px;
  position: relative;
  background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  border-radius: 14px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resume__skills-list::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  border-radius: 14px;
  z-index: -1;
}

.resume__skills-head {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-bottom: 10px;
}
.resume__skills-head h4 {
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 600;
}
.resume__skills-head span {
  color: hsl(0, 0%, 84%);
  font-size: clamp(16px, 1.55vw, 20px);
  font-weight: 300;
}

.resume__skills-link {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: hsl(240, 1%, 17%);
}

.resume__skills-line {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
}

/* ============================== PORTFOLIO ============================== */
/* ============================== PORTFOLIO ============================== */
.portfolio__projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio__projects-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: scaleUp 0.4s ease;
}
.portfolio__projects-item h3 {
  margin-left: 10px;
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 400;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.portfolio__projects-img {
  position: relative;
  border-radius: 16px;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.portfolio__projects-img img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  z-index: 0;
  object-fit: cover;
  transition: all 0.25s ease;
}
.portfolio__projects-img::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  border-radius: 16px;
  transition: all 0.3s;
}

.portfolio__projects-img:hover::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.portfolio__projects-img:hover img {
  transform: scale(1.1);
}

.portfolio__projects-img:hover .portfolio__projects-eye {
  opacity: 1;
}

.portfolio__projects-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 10px;
  border-radius: 12px;
  background-color: #272727;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.portfolio__projects-eye img {
  width: 32px;
  height: auto;
}

/* ============================== PROJECT ============================== */
/* ============================== PROJECT ============================== */
.project-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.project-img {
  width: 100%;
  border-radius: 24px;
}

.project-readme {
  font-size: clamp(14px, 3.2vw, 20px);
  font-weight: 300;
  line-height: 1.6;
}

.project-github {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.project-github img {
  width: clamp(42px, 10vw, 60px);
}
.project-github p {
  font-size: clamp(14px, 3.2vw, 20px);
  font-weight: 300;
  line-height: 1.6;
}

/* ============================== CONTACT ============================== */
/* ============================== CONTACT ============================== */
.contact--inner {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact__map {
  border-radius: 17px;
  margin-bottom: 30px;
  height: clamp(220px, 38vw, 360px);
}

.contact__map-iframe {
  border: 1px solid white;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  filter: grayscale(1) invert(1);
}

.contact__form-head {
  margin-bottom: 20px;
}
.contact__form-head h3 {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: 800;
}

.contact__form-inputs {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}
.contact__form-inputs input {
  color: hsl(0, 0%, 98%);
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  padding: 14px 20px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 14px;
  outline: none;
}
.contact__form-inputs input:focus {
  border-color: hsl(45, 100%, 72%);
}
.contact__form-inputs input:focus:user-invalid {
  border-color: hsl(0, 43%, 51%);
}

.contact__form-textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  color: hsl(0, 0%, 98%);
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 14px;
  padding: 14px 20px;
  outline: none;
  grid-column: span 2;
}
.contact__form-textarea:focus {
  border-color: hsl(45, 100%, 72%);
}
.contact__form-textarea:focus:user-invalid {
  border-color: hsl(0, 43%, 51%);
}

.contact__form-button button {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 14px;
  margin-left: auto;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 500;
  color: hsl(45, 100%, 72%);
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
}
.contact__form-button button img {
  width: 32px;
  height: auto;
}

.warning {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.warning p {
  max-width: 400px;
  font-size: clamp(14px, 3.5vw, 18px);
  font-weight: 200;
  line-height: 1.4;
}

.message-send {
  position: absolute;
  z-index: 10;
  bottom: 120px;
  right: 0;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(450px);
}
.message-send p {
  padding: 16px 20px;
  color: hsl(45, 100%, 72%);
  font-size: clamp(14px, 3.5vw, 18px);
  font-weight: 500;
  cursor: default;
}
.message-send span {
  position: absolute;
  bottom: 4px;
  left: 4px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 3px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
}

.message-send--active {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}
.message-send--active span {
  animation: percent 3s ease-in-out 1 forwards;
}

.message-error {
  position: absolute;
  z-index: 10;
  bottom: 120px;
  right: 0;
  background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(450px);
}
.message-error p {
  padding: 16px 20px;
  color: hsl(45, 100%, 72%);
  font-size: clamp(14px, 3.5vw, 18px);
  font-weight: 500;
  cursor: default;
}
.message-error span {
  position: absolute;
  bottom: 4px;
  left: 4px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 3px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
}

.message-error--active {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}
.message-error--active span {
  animation: percent 3s ease-in-out 1 forwards;
}

@keyframes percent {
  0% {
    width: 97%;
  }
  100% {
    width: 0%;
  }
}
/* ============================== MEDIA ============================== */
/* ============================== MEDIA ============================== */
@media (max-width: 1070px) {
  .about__doing-list {
    grid-template-columns: 1fr;
  }
  .about__doing-link h4 {
    font-size: 20px;
  }
  .about__doing-link p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .about__testimonials-item {
    min-width: 100%;
  }
  .portfolio__projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .contact__form-inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 750px) {
  .portfolio__projects-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 700px) {
  .MyData-inner {
    width: clamp(260px, 75vw, 400px);
  }
  .MyData__avatar img {
    width: clamp(124px, 37vw, 200px);
  }
  .MyData__name h1 {
    font-size: clamp(30px, 7vw, 38px);
  }
  .MyData__profession p {
    font-size: clamp(14px, 3.5vw, 19px);
  }
  .important__text p {
    font-size: clamp(14px, 3.5vw, 18px);
  }
  .important__text a {
    width: clamp(120px, 40vw, 225px);
    font-size: clamp(14px, 3.5vw, 18px);
  }
}
@media (max-width: 700px) {
  .main-inner {
    width: clamp(320px, 86vw, 600px);
  }
  .navbar-phone {
    padding: clamp(20px, 5vw, 30px);
  }
  .navbar-list {
    gap: clamp(24px, 5vw, 32px);
  }
  .navbar-link {
    font-size: clamp(14px, 3.5vw, 20px);
  }
  .exit-button {
    padding: clamp(14px, 4vw, 16px) clamp(24px, 6vw, 32px);
  }
  .exit-button__img img {
    width: clamp(20px, 4.5vw, 28px);
  }
  .exit-button__text p {
    font-size: clamp(14px, 3.5vw, 18px);
  }
}
@media (max-width: 700px) {
  .wrapper-inner {
    display: block;
  }
  .main {
    display: none;
  }
  .MyData {
    flex-direction: column;
  }
  .move-button {
    display: block;
  }
  .navbar {
    display: none;
  }
  .exit-button {
    display: flex;
  }
  .move-button__img img {
    width: clamp(70px, 19vw, 100px);
  }
  .move-button__text p {
    font-size: clamp(16px, 4vw, 20px);
  }
}
@media (max-width: 700px) {
  #main.active {
    display: flex;
    margin-bottom: 64px;
  }
  #aside.none {
    display: none;
  }
  #navbar-phone.active {
    display: flex;
  }
}
@media (max-width: 700px) {
  #aside.animation {
    transform: translateX(-600px);
  }
  #main.animation {
    transform: translateX(600px);
  }
  #navbar-phone.animation {
    bottom: -100px;
  }
}
@media (max-width: 700px) {
  .resume__education-link h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .resume__education-link p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .resume__experience-link h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .resume__experience-link p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .portfolio__projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__projects-item h3 {
    font-size: clamp(20px, 3.4vw, 24px);
  }
  .contact__form-textarea {
    height: clamp(120px, 30vw, 200px);
    font-size: clamp(14px, 3.5vw, 18px);
  }
  .contact__form-inputs input {
    font-size: clamp(14px, 3.5vw, 18px);
  }
  .contact__form-button button {
    font-size: clamp(14px, 3.5vw, 18px);
    gap: clamp(12px, 3vw, 16px);
  }
  .contact__form-button button img {
    width: clamp(26px, 4.7vw, 32px);
  }
  .contact__form-textarea {
    grid-column: auto;
  }
}
@media (max-width: 700px) {
  .about__modal {
    padding: 0 60px;
  }
  .modal__head-text h2 {
    font-size: clamp(18px, 4.2vw, 26px);
  }
  .modal__head-text span {
    font-size: clamp(14px, 4.2vw, 16px);
  }
  .modal__body-text p {
    font-size: clamp(14px, 4.2vw, 16px);
  }
}
@media (max-width: 500px) {
  .portfolio__projects-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
