<h2 class="header-name">About Me</h2>
<div class="line"></div>
<p class="about-text">
    Я Fron-end Web-Developer из Казахстан работаю в сфере разработки пользовательской стороны веб-сайтов. Мне нравится решать сложные и необычные задачи в IT сфере.
</p>
<br>
<p class="about-text">
    Свое путешествие в данной сфере Я начал во втором квартале 2024 года, обучался Я сам и буквально за пару месяцев достиг неплохих результатов в разработки веб-сайтов и начал искать свою первую работу и первые заказы на фриланс бирже Kwork, спойлер, довольно такие успешно.
</p>

<div class="about__doing">
    <h3 class="about__doing-head">What I'm Doing</h3>
    <div class="about__doing-list">
        <div class="about__doing-item">
            <div class="about__doing-img">
                <img src="assets/img/icon/icon-dev.svg" alt="">
            </div>
            <div class="about__doing-link">
                <h4>Web-Developer</h4>
                <p>Качественная разработка сайтов на профессиональном уровне</p>
            </div>
        </div>
        <div class="about__doing-item">
            <div class="about__doing-img">
                <img src="assets/img/icon/wordpress.svg" alt="">
            </div>
            <div class="about__doing-link">
                <h4>WordPress</h4>
                <p>Хорошие навыки работы с CMS-системой WordPress</p>
            </div>
        </div>
    </div>
</div>

<div class="about__testimonials">
    <div class="about__testimonials-head">
        <h3>Testimonials</h3>
    </div>
    <ul class="about__testimonials-list scroll-bar">
        <li class="about__testimonials-item">
            <div class="about__testimonials-head">
                <div class="about__testimonials-imgbox">
                    <img class="about__testimonials-avatar" src="assets/img/Avatar/avatar-1.webp" alt="">
                </div>
                <h4 class="about__testimonials-name">Dima_barsu</h4>
            </div>
            <div class="about__testimonials-body">
                <span class="about__testimonials-date">Май 2024</span>
                <p class="about__testimonials-comment">Очень приятно работать с отвественными исполнителями у которых есть подход к деталям. Меня всё очень устроило. Рекомендую!</p>
            </div>
        </li>
        <li class="about__testimonials-item">
            <div class="about__testimonials-head">
                <div class="about__testimonials-imgbox">
                    <img class="about__testimonials-avatar" src="assets/img/Avatar/avatar-1.webp" alt="">
                </div>
                <h4 class="about__testimonials-name">Dima_barsu</h4>
            </div>
            <div class="about__testimonials-body">
                <span class="about__testimonials-date">Июнь 2024</span>
                <p class="about__testimonials-comment">Снова обратился и снова доволен результатом. :-)</p>
            </div>
        </li>
        <li class="about__testimonials-item">
            <div class="about__testimonials-head">
                <div class="about__testimonials-imgbox">
                    <img class="about__testimonials-avatar" src="assets/img/Avatar/avatar-1.webp" alt="">
                </div>
                <h4 class="about__testimonials-name">alex87-ru</h4>
            </div>
            <div class="about__testimonials-body">
                <span class="about__testimonials-date">Июнь 2024</span>
                <p class="about__testimonials-comment">Спасибо за работу. Отличный исполнитель!</p>
            </div>
        </li>
    </ul>
</div>

<div class="about__modal" id="modal-item">
    <div class="about__overlay" id="modal-overlay"></div>
    <div class="about__modal-inner">
        <button class="about__modal-close" id="modal-close">
            <img src="assets/img/icon/close.svg" alt="">
        </button>
        <div class="about__modal-head">
            <div class="modal__head-avatar">
                <img id="modal-avatar" src="" alt="">
            </div>
            <div class="modal__head-text">
                <h2 id="modal-name"></h2>
                <span id="modal-date"></span>
            </div>
        </div>
        <div class="about__modal-body">
            <div class="modal__body-quotes">
                <img src="assets/img/icon/quotes.svg" alt="">
            </div>
            <div class="modal__body-text">
                <p id="modal-comment"></p>
            </div>
        </div>
    </div>
</div>

<div class="about__clients">
    <div class="about__clients-head">
        <h3>Clients</h3>
    </div>
    <ul class="about__clients-list scroll-bar">
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
        <li class="about__clients-item">
            <a class="about__clients-link" href="#"><img src="assets/img/logos/logo-1.svg" alt=""></a>
        </li>
    </ul>
</div>

<script>
    function modal(){
    const testimonialsItem = document.querySelectorAll('.about__testimonials-item')
    const testimonialsAvatar = document.querySelectorAll('.about__testimonials-avatar')
    const testimonialsName = document.querySelectorAll('.about__testimonials-name')
    const testimonialsDate = document.querySelectorAll('.about__testimonials-date')
    const testimonialsComment = document.querySelectorAll('.about__testimonials-comment')

    const modalItem = document.getElementById('modal-item')
    const modalOverlay = document.getElementById('modal-overlay')
    const modalClose = document.getElementById('modal-close')
    const modalAvatar = document.getElementById('modal-avatar')
    const modalName = document.getElementById('modal-name')
    const modalDate = document.getElementById('modal-date')
    const modalComment = document.getElementById('modal-comment')

    testimonialsItem.forEach((item, index) => {
        item.addEventListener('click', function(){
            modalItem.classList.add('about__modal--active')
            modalOverlay.classList.add('about__overlay--active')
            
            modalAvatar.src = testimonialsAvatar[index].src;
            modalName.textContent = testimonialsName[index].textContent;
            modalDate.textContent = testimonialsDate[index].textContent;
            modalComment.textContent = testimonialsComment[index].textContent
        })
    })

    modalClose.addEventListener('click', () => {
        modalItem.classList.remove('about__modal--active')
        modalOverlay.classList.remove('about__overlay--active')
    })
    
    modalOverlay.addEventListener('click', () => {
        modalItem.classList.remove('about__modal--active')
        modalOverlay.classList.remove('about__overlay--active')
    })
}
modal()
</script>