<h2 class="header-name"></h2>
<div class="line"></div>

<div class="project-inner">
    <img src="" alt="" class="project-img">
    <p class="project-readme"></p>
</div>

<script>
    function loadProject(){
        const headerName = document.querySelector('.header-name')
        headerName.innerText = window.projectName
    
        const thisProjectImg = document.querySelector('.project-img')
        thisProjectImg.src = window.projectImg
        thisProjectImg.alt = window.projectName

        const readmeUrl = `https://api.github.com/repos/Morok1407/${window.projectName}/contents/README.md?plain=1`
        const thisProjectReadme = document.querySelector('.project-readme')
    
        fetch(readmeUrl)
        .then(response => response.json())
        .then(data => {
            if(data.content) {
                    const decodedContent = decodeURIComponent(escape(window.atob(data.content)));
                    thisProjectReadme.textContent = decodedContent; 
                }else {
                    thisProjectReadme.textContent = "Не удалось получить содержимое README.";
                }
            })
        .catch(error => {
            console.error("Ошибка при загрузке README:", error);
            document.getElementById('readmeContent').textContent = "Ошибка при загрузке README.";
        });
    }
    loadProject()
</script>